.mUI_graduation{
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  border:1px solid blue;
  }

.mUI_gradtext{
  position:absolute;
  border-bottom:1px solid hsl(0,0%,50%);
  padding:0 2px;
  font-family:sans-serif;
  font-size:12px;
  color:hsl(0,0%,50%); /*todo ranger les couleurs pour les thèmes*/
  bottom:0 ;
}

.mUI_gradline{
  right:0;
  bottom:0;
  position:absolute;
  height:1px;
  background:hsl(0,0%,50%);
  transform-origin : 0 50%;
}
